<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>数据表格</title>
	{% include 'common/header.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='admin/css/loader.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='admin/css/admin.css') }}"/>
	<style>
		.expand.pear-btn:hover {
			color: currentColor;
			background-color: unset;
		}

		.expand.pear-btn {
			border: 1px solid rgb(255 255 255 / 0%)
		}
	</style>
</head>

<body class="pear-container">
	<div class="layui-card">
		<div class="layui-card-body">
			<form id="userForm" class="layui-form" action="">
				<div class="layui-form-item">

					<div class="layui-inline">
						<label class="layui-form-label">iban</label>
						<div class="layui-input-inline">
							<input type="text" name="ibannumber" placeholder="" class="layui-input">
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">文件名</label>
						<div class="layui-input-inline">
							<input type="text" name="filename" placeholder="" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">设备ID</label>
						<div class="layui-input-inline">
							<input type="text" name="devicedids" placeholder="" class="layui-input">
						</div>
					</div>
					<div class="layui-input-inline">
						<select name="enable" id="enable" lay-verify="">
							<option value="">全部</option>
							<option value="1">已使用</option>
							<option value="0">未使用</option>
						</select>
        			</div>
					<div class="layui-inline" style="margin-left: 50px;">
						<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
							<i class="layui-icon layui-icon-search"></i>
							查询
						</button>
						<button type="reset" class="pear-btn pear-btn-md">
							<i class="layui-icon layui-icon-refresh"></i>
							重置
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>
	<div class="layui-card">
		<div class="layui-card-body">
			<table id="user-table" lay-filter="user-table"></table>
		</div>
	</div>
	{% include 'common/footer.html' %}
	<script type="text/html" id="user-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
				<i class="layui-icon layui-icon-add-1"></i>
				新增
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
				<i class="layui-icon layui-icon-delete"></i>
				删除
			</button>
		</script>

		<script type="text/html" id="user-enable">
			<input type="checkbox" value="{{ "{{ d.id }}" }}" lay-skin="switch" lay-text="使用|未使用"
				   lay-filter="user-enable"
					{{ "{{# if(d.enable==1){ }} checked {{# } }}" }}>
		</script>
	{% raw %}
		<script type="text/html" id="last-time">
			{{layui.util.toDateString(d.lasttime, 'yyyy-MM-dd HH:mm:ss')}}
			</script>
	<script type="text/html" id="user-createTime">
		{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
		</script>
	<script type="text/html" id="user-bar">
		<button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="detail"><i
				class="layui-icon layui-icon-transfer">查看卡片</i></button>
		<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="deal"><i
				class="layui-icon layui-icon-edit">3DS</i></button>
		<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i
				class="layui-icon layui-icon-delete">删除</i></button>
		<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="refresh_data"><i
				class="layui-icon layui-icon-delete">刷新</i></button>
	</script>
	{% endraw %}
	<div style="display: none;">
		<div class="layer-top">
			<br />
			<h3>上侧弹层内容...</h3>
		</div>
	</div>


	<script>
		layui.use(['table', 'form', 'jquery', 'drawer', 'dropdown'], function () {
			let table = layui.table;
			let form = layui.form;
			let $ = layui.jquery;
			let drawer = layui.drawer;
			let dropdown = layui.dropdown;

			let MODULE_PATH = "/system/user/";

			formToggle({
				elem: "#userForm",
			});

			function formToggle(options) {
				var defaultsOpt = {
					isExpand: false,
					prefixIcon: "layui-icon",
					toggleIcon: ['layui-icon-down', 'layui-icon-up'],
					toggleText: ['展开', '折叠'],
				}
				var opt = $.extend({}, defaultsOpt, options);
				var elem = opt.elem; // 绑定的表单元素,必填
				var min = opt.min; // 最小显示数,默认显示一行
				var isExpand = opt.isExpand; // 初始展开
				var prefixIcon = opt.prefixIcon + " "; // 图标前缀
				var toggleIcon = opt.toggleIcon; // 折叠和展开时的图标类[unExpandIcon, ExpandIcon]
				var toggleText = opt.toggleText; // 折叠和展开时的文本

				var eleDOM = $(elem + " .layui-inline");
				var firstElTop = eleDOM.first().offset().top;
				var targetEl = eleDOM.filter(function (index) {
					var isGtMin = (index + 1) > min;
					var isGtFirstElTop = $(this).offset().top > firstElTop;
					var isNeqLast = (index + 1) != eleDOM.length;
					return min
						? isGtMin && isNeqLast
						: isGtFirstElTop && isNeqLast;
				});

				var unExpandIcon = prefixIcon + toggleIcon[0];
				var expandIcon = prefixIcon + toggleIcon[1];
				var unExpandText = toggleText[0];
				var expandText = toggleText[1];
				var btnSelector = elem + " .expand";
				$(btnSelector).append("<i></i>")
				if (isExpand) {
					$(btnSelector).prepend("<span>" + expandText + "</span>");
					$(btnSelector + ">i").addClass(expandIcon);
				} else {
					$(btnSelector).prepend("<span>" + unExpandText + "</span>")
					$(btnSelector + ">i").addClass(unExpandIcon)
					targetEl.addClass("layui-hide");
				}
				$(btnSelector).click(function () {
					isExpand = !isExpand;
					if (isExpand) {
						$(btnSelector + ">span").html(expandText);
						$(btnSelector + ">i").removeClass(unExpandIcon).addClass(expandIcon);
						targetEl.removeClass("layui-hide")
					} else {
						$(btnSelector + ">span").html(unExpandText);
						$(btnSelector + ">i").removeClass(expandIcon).addClass(unExpandIcon);
						targetEl.addClass("layui-hide")
					}
				})
			}

			let cols = [
				[{
					type: 'checkbox'
				},
				{
					title: 'id',
					field: 'id',
					align: 'center',
				},
				{
					title: 'iban',
					field: 'iban',
					align: 'center',
				},
				{
					title: '设备ID',
					field: 'device',
					align: 'center'
				},
				{
					title: '文件名',
					field: 'file',
					align: 'center',
				},
				{
					title: '余额',
					field: 'balance',
					align: 'center'
				},
				{
					title: '额度',
					field: 'limit',
					align: 'center'
				},
							{
					title: '卡片数量',
					field: 'count',
					align: 'center'
				},
				{
					title: '是否使用',
					field: 'enable',
					align: 'center',
					templet: '#user-enable'
				},
				{
					title: '最后使用时间',
					field: 'lasttime',
					align: 'center',
					templet: '#last-time'
				},

				{
					title: '操作',
					toolbar: '#user-bar',
					align: 'left',
					width: 400,
					fixed: 'right'
				}
				]
			]

			table.render({
				elem: '#user-table',
				url: '/detail',
				page: true,
				cols: cols,
				skin: 'line',
				toolbar: '#user-toolbar',
				defaultToolbar: [{
					layEvent: 'refresh',
					icon: 'layui-icon-refresh',
				}, 'filter', 'print', 'exports'],
				done: function (res, curr, count) {
					console.log(res.data);
					for (var i = 0; i < res.data.length; i++) {
						dropdown.render({
							elem: '#more_' + res.data[i].userId,
							data: [{
								title: 'menu item11',
								id: 100
							}, {
								title: 'menu item22',
								id: 101
							}, {
								title: 'menu item33',
								id: 102
							}],
							id: '#more_' + res.data[i].userId,
							click: function (obj) {
								layer.tips('点击了：' + obj.title, this.elem, {
									tips: [1, '#5FB878']
								})
							}
						});
					}
				}
			});

			table.on('tool(user-table)', function (obj) {
				if (obj.event === 'remove') {
					window.remove(obj);
				} else if (obj.event === 'deal') {
					window.deal(obj);
				}else if (obj.event === 'detail') {
					window.detail(obj);
				}else if (obj.event === 'refresh_data') {
					window.refresh_data(obj);
				}

			});

			table.on('toolbar(user-table)', function (obj) {
				if (obj.event === 'add') {
					window.add();
				} else if (obj.event === 'refresh') {
					window.refresh();
				} else if (obj.event === 'batchRemove') {
					window.batchRemove(obj);
				}else if (obj.event === 'refresh_data') {
					window.refresh_data(obj);
				}else if (obj.event === 'deal') {
					window.deal(obj);
				}
			});

			form.on('submit(user-query)', function (data) {
				table.reload('user-table', {
					where: data.field
				})
				return false;
			});

    // 监听 switch 开关事件
    form.on('switch(user-enable)', function(obj) {
        let trElem = $(obj.elem).closest('tr');  // 获取当前开关所在的行（tr 元素）
        let index = trElem.attr('data-index');   // 获取行的索引值
        let rowData = table.cache['user-table'][index];  // 通过索引值获取当前行的完整数据

        let number = rowData.id;  // 获取当前行的 number 值
        let enable_status = obj.elem.checked ? 1 : 0;  // 获取开关状态

        // 发送 AJAX 请求，更新状态
        $.ajax({
            url: '/update_device_status',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                id: number,     // 传递卡号（number）
                enable: enable_status  // 传递启用状态
            }),
            success: function (result) {
                if (result.success) {
                    layer.msg('设备状态已更新', { icon: 1, time: 1000 });
                } else {
                    layer.msg('更新失败: ' + result.msg, { icon: 2, time: 2000 });
                }
            },
            error: function (xhr, status, error) {
                layer.msg('请求失败: ' + error, { icon: 2, time: 2000 });
            }
        });
    });

			// window.add = function () {
			// 	drawer.open({
			// 		direction: "top",
			// 		dom: ".layer-top",
			// 		distance: "30%"
			// 	});
			// }
			 window.add = function() {
					layer.open({
						type: 2,
						title: '新增',
						shade: 0.1,
						area: ['450px', '500px'],
						content: "{{ url_for('add') }}"  // 使用 Flask 生成的动态 URL
					});
				}
			window.deal = function (obj) {
				let data = obj.data;  // 获取当前行的数据
				$.ajax({
						url: '/process',
						data: JSON.stringify({id:data.device}),
						dataType: 'json',
						contentType: 'application/json',
						type: 'post',
						success: function(result) {
							if (result.success) {
								layer.msg('3DS已提交', { icon: 1, time: 1000 });
							} else {
								layer.msg(result.msg, {
									icon: 2,
									time: 1000
								});
							}
						}
					})
			}

			window.detail = function (obj) {

				var device_id = obj.data.device;
				layer.open({
						type: 2,
						title: '详细信息',
						shade: 0.1,
						area: ['1000px', '500px'],
						content: "{{ url_for('card_details', device_id='') }}" + device_id  // 使用 Flask 生成的动态 URL
					});
			}
			window.refresh_data = function (obj) {
				let data = obj.data;  // 获取当前行的数据
        		let event = obj.event;  // 获取触发的事件名
				$.ajax({
						url: '/refresh_account',
						data: JSON.stringify({id:data.device}),
						dataType: 'json',
						contentType: 'application/json',
						type: 'post',
						success: function(result) {
							if (result.success) {
								obj.update({
								balance: result.data.total_balance,  // 假设返回的数据中包含 total_balance
								limit: result.data.limit,
								last_time:result.data.lasttime
							});
								layer.msg('数据已刷新', { icon: 1, time: 1000 });
								table.reload('user-table');
							} else {
								layer.msg(result.msg, {
									icon: 2,
									time: 1000
								});
							}
						}
					})

			}

			window.remove = function (obj) {
				layer.confirm('确定要删除该用户', {
					icon: 3,
					title: '提示'
				}, function (index) {
					layer.close(index);
					let loading = layer.load();
					$.ajax({
						url: "/remove/" + obj.data['id'],
						dataType: 'json',
						type: 'delete',
						success: function (result) {
							layer.close(loading);
							if (result.success) {
								layer.msg(result.msg, {
									icon: 1,
									time: 1000
								}, function () {
									obj.del();
								});
							} else {
								layer.msg(result.msg, {
									icon: 2,
									time: 1000
								});
							}
						}
					})
				});
			}

			window.batchRemove = function (obj) {
				let data = table.checkStatus(obj.config.id).data;
				if (data.length === 0) {
					layer.msg("未选中数据", {
						icon: 3,
						time: 1000
					});
					return false;
				}
				let ids = "";
				for (let i = 0; i < data.length; i++) {
					ids += data[i].userId + ",";
				}
				ids = ids.substr(0, ids.length - 1);
				layer.confirm('确定要删除这些用户', {
					icon: 3,
					title: '提示'
				}, function (index) {
					layer.close(index);
					let loading = layer.load();
					$.ajax({
						url: MODULE_PATH + "batchRemove/" + ids,
						dataType: 'json',
						type: 'delete',
						success: function (result) {
							layer.close(loading);
							if (result.success) {
								layer.msg(result.msg, {
									icon: 1,
									time: 1000
								}, function () {
									table.reload('user-table');
								});
							} else {
								layer.msg(result.msg, {
									icon: 2,
									time: 1000
								});
							}
						}
					})
				});
			}

			window.refresh = function (param) {
				table.reload('user-table');
			}
		})
	</script>
</body>

</html>