<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>树形表格</title>
	{% include 'common/header.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='admin/css/loader.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='admin/css/admin.css') }}"/>
</head>
<body class="pear-container">


<div class="layui-card">
    <div class="layui-card-body">
        <table id="power-table" lay-filter="power-table"></table>
    </div>
</div>
{% include 'common/footer.html' %}
<script type="text/html" id="power-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
	<button class="pear-btn pear-btn-success pear-btn-md" lay-event="expandAll">
	    <i class="layui-icon layui-icon-spread-left"></i>
	    展开
	</button>
	<button class="pear-btn pear-btn-success pear-btn-md" lay-event="foldAll">
	    <i class="layui-icon layui-icon-shrink-right"></i>
	    折叠
	</button>
</script>
	<script type="text/html" id="user-enable">
		<input type="checkbox" value="{{ "{{ d.id }}" }}" lay-skin="switch" lay-text="使用|未使用"
			   lay-filter="user-enable"
				{{ "{{# if(d.enable==1){ }} checked {{# } }}" }}>
	</script>
</script>
	{% raw %}
		<script type="text/html" id="last-time">
			{{layui.util.toDateString(d.lasttime, 'yyyy-MM-dd HH:mm:ss')}}
			</script>
	<script type="text/html" id="user-createTime">
		{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
		</script>
	<script type="text/html" id="user-bar">
		<button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="detail"><i
				class="layui-icon layui-icon-transfer">查看卡片</i></button>
		<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="deal"><i
				class="layui-icon layui-icon-edit">3DS</i></button>
		<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i
				class="layui-icon layui-icon-delete">删除</i></button>
		<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="refresh_data"><i
				class="layui-icon layui-icon-delete">刷新</i></button>
	</script>
	{% endraw %}

<script type="text/html" id="power-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
</script>


<!--<script type="text/html" id="user-enable">-->
<!--    <input type="checkbox" value="{{ "{{ d.id }}" }}" lay-skin="switch" lay-text="使用|未使用"-->
<!--           lay-filter="user-enable"-->
<!--            {{ "{{# if(d.enable==1){ }} checked {{# } }}" }}>-->
<!--</script>-->




<script>
    layui.use(['table','form','jquery','treetable'],function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let treetable = layui.treetable;

        let MODULE_PATH = "../system/operate/";

        treetable.render({
                treeColIndex: 1,
                treeSpid: 0,
                treeIdName: 'powerId',
                treePidName: 'parentId',
                skin:'line',
                treeDefaultClose: true,
                toolbar:'#power-toolbar',
                elem: '#power-table',
                url: '/api/get_tree_data',
                page: false,
                cols: [
                    [
                    {type: 'checkbox'},
                    {field: 'id', minWidth: 200, title: 'id'},
					{field: 'index', minWidth: 200, title: 'index'},
                    {field: 'iban', title: 'iban'},
                    {field: 'device', title: '设备ID'},
                    {field: 'file', title: '文件名'},
                    {field: 'balance', title: '余额'},
					{title: '额度', field: 'limit', align: 'center'},
                    {field: 'count', title: '卡片数量'},
                    {title: '是否使用', field: 'enable', align: 'center', templet: '#user-enable'},
                    {title: '最后使用时间', field: 'lasttime', align: 'center', templet: '#last-time'},
                    {title: '操作', toolbar: '#user-bar', align: 'left', width: 400, fixed: 'right'}]
                ]
        });

        table.on('tool(power-table)',function(obj){
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            }else if (obj.event === 'deal') {
				window.deal(obj);
			}else if (obj.event === 'detail') {
				window.detail(obj);
			}else if (obj.event === 'refresh_data') {
				window.refresh_data(obj);
			}
        })

        table.on('toolbar(power-table)', function(obj){
            if(obj.event === 'add'){
                window.add();
            } else if(obj.event === 'refresh'){
                window.refresh();
            } else if(obj.event === 'batchRemove'){
                window.batchRemove(obj);
            } else if(obj.event === 'expandAll'){
				 treetable.expandAll("#power-table");
			} else if(obj.event === 'foldAll'){
				 treetable.foldAll("#power-table");
			} else if(obj.event === 'reload'){
				 treetable.reload("#power-table");
			}
        });
		
		form.on('submit(power-query)', function(data) {
            var keyword = data.field.keyword;
            treetable.search('#power-table',keyword);
            return false;
		});
	
		 window.add = function() {
				layer.open({
					type: 2,
					title: '新增',
					shade: 0.1,
					area: ['450px', '500px'],
					content: "{{ url_for('add') }}"  // 使用 Flask 生成的动态 URL
				});
			}

        window.deal = function (obj) {
				let data = obj.data;  // 获取当前行的数据
				$.ajax({
						url: '/process',
						data: JSON.stringify({id:data.device}),
						dataType: 'json',
						contentType: 'application/json',
						type: 'post',
						success: function(result) {
							if (result.success) {
								layer.msg('3DS已提交', { icon: 1, time: 1000 });
							} else {
								layer.msg(result.msg, {
									icon: 2,
									time: 1000
								});
							}
						}
					})
			}

			window.detail = function (obj) {

				var device_id = obj.data.device;
				layer.open({
						type: 2,
						title: '详细信息',
						shade: 0.1,
						area: ['1000px', '500px'],
						content: "{{ url_for('card_details', device_id='') }}" + device_id  // 使用 Flask 生成的动态 URL
					});
			}
			window.refresh_data = function (obj) {
				let data = obj.data;  // 获取当前行的数据
        		let event = obj.event;  // 获取触发的事件名
				$.ajax({
						url: '/refresh_account',
						data: JSON.stringify({id:data.device}),
						dataType: 'json',
						contentType: 'application/json',
						type: 'post',
						success: function(result) {
							if (result.success) {
								obj.update({
								balance: result.data.total_balance,  // 假设返回的数据中包含 total_balance
								limit: result.data.limit,
								last_time:result.data.lasttime
							});
								layer.msg('数据已刷新', { icon: 1, time: 1000 });
								table.reload('user-table');
							} else {
								layer.msg(result.msg, {
									icon: 2,
									time: 1000
								});
							}
						}
					})

			}

			window.remove = function (obj) {
				layer.confirm('确定要删除该用户', {
					icon: 3,
					title: '提示'
				}, function (index) {
					layer.close(index);
					let loading = layer.load();
					$.ajax({
						url: "/remove/" + obj.data['index'],
						dataType: 'json',
						type: 'delete',
						success: function (result) {
							layer.close(loading);
							if (result.success) {
								layer.msg(result.msg, {
									icon: 1,
									time: 1000
								}, function () {
									obj.del();
								});
							} else {
								layer.msg(result.msg, {
									icon: 2,
									time: 1000
								});
							}
						}
					})
				});
			}
		form.on('switch(user-enable)', function(obj) {
				let trElem = $(obj.elem).closest('tr');  // 获取当前开关所在的行（tr 元素）
				let index = trElem.attr('data-index');   // 获取行的索引值
				let rowData = table.cache['power-table'][index];  // 通过索引值获取当前行的完整数据

				let number = rowData.id;  // 获取当前行的 number 值
				let enable_status = obj.elem.checked ? 1 : 0;  // 获取开关状态

				// 发送 AJAX 请求，更新状态
				$.ajax({
					url: '/update_device_status',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify({
						id: number,     // 传递卡号（number）
						enable: enable_status  // 传递启用状态
					}),
					success: function (result) {
						if (result.success) {
							layer.msg('设备状态已更新', { icon: 1, time: 1000 });
						} else {
							layer.msg('更新失败: ' + result.msg, { icon: 2, time: 2000 });
						}
					},
					error: function (xhr, status, error) {
						layer.msg('请求失败: ' + error, { icon: 2, time: 2000 });
					}
				});
			});
		window.batchRemove = function(obj) {
			let data = table.checkStatus(obj.config.id).data;
			if (data.length === 0) {
				layer.msg("未选中数据", {
					icon: 3,
					time: 1000
				});
				return false;
			}
			let ids = "";
			for (let i = 0; i < data.length; i++) {
				ids += data[i].powerId + ",";
			}
			ids = ids.substr(0, ids.length - 1);
			layer.confirm('确定要删除这些数据', {
				icon: 3,
				title: '提示'
			}, function(index) {
				layer.close(index);
				let loading = layer.load();
				$.ajax({
					url: MODULE_PATH + "batchRemove/" + ids,
					dataType: 'json',
					type: 'delete',
					success: function(result) {
						layer.close(loading);
						if (result.success) {
							layer.msg(result.msg, {
								icon: 1,
								time: 1000
							}, function() {
								table.reload('user-table');
							});
						} else {
							layer.msg(result.msg, {
								icon: 2,
								time: 1000
							});
						}
					}
				})
			});
		}
    })
</script>
</body>
</html>